# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
ENV/
env/
.venv/

# Environment variables
.env
.env.*

# SQLite and DB files
*.sqlite3
*.db

# IDEs and editors
.idea/
.vscode/
.DS_Store

# Alembic
alembic/versions/*.pyc
alembic/versions/__pycache__/

# Logs
*.log

# Docker
*.pid

# Pytest cache
.pytest_cache/